body{
    color: white;
    background-color:rgb(129, 25, 103);
}

.product-box{
    border:5px outset white;
    border-radius:10px;
    padding:5px; 
    background-color: rgb(190, 34, 151);
}
.product-heading{
    border:5px outset;
    border-radius:10px;
    background-color: rgb(230, 45, 183);

}
.product-heading h2 img{
    height:30px;
    width:30px;
    border:1px solid;
}
.product-heading h2{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding:10px;
    gap:10px;
    font-size:40px;
}
.product-heading h3{
    padding:10px;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

}

.product-heading h3 button{
    padding:10px 30px;
    border-radius:30px;
    border: none;

    background:black;
    color:white;
    cursor: pointer;
    position: relative;

    background: linear-gradient(
        90deg,
        rgb(230, 97, 97),
        rgb(221, 136, 57),
        rgb(17, 206, 206),
        rgb(13, 187, 13),
        rgb(0, 204, 255)
    );
    background-size: 300% 100%;

    animation: rgbBackground 4s linear infinite;


}

@keyframes rgbBackground {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}


.products{
    border:1px solid green;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:50px;
    padding:10px;
}

.product{
    border:4px outset white;
    background-color: rgb(230, 45, 183);
    border-radius:10px;
    width:100%;
    height:400px;
    display:grid;
    align-content: end;
}
.product-info{
    height:150px;
background-color:rgba(184, 32, 146, 0.644);
    border-bottom:4px solid purple;
    border-radius:10px;

    display: grid;
    justify-content: center;

    margin:10px;

}

.product-btn{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.product-btn img{
    border:1px solid;
    height:20px;
    width:20px;
}
.product-btn button{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius:20px;
}

@media(max-width:768px){
    .products{
        padding:10px;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);

    }
    .product{
        width:100%;

    }
    .product-btn button{
        display: grid;
        justify-items: center;
    }

}

@media(max-width:384px){
    .products{
        justify-items: center;
        grid-template-columns:1fr;
    }
    .product{
        width:80%;
    }
}
